<div>
    <div style="display: flex; justify-content: center;">
        <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" style="float:left;width:50px;height:50px;padding-top:20%;"/></a>
        <h1 style="font-family: Roboto, Arial, sans-serif;">Automated Student Engagement System (aSES)</h1>
    </div>
    <div style="display: flex; justify-content: center; padding-top: 6%; padding-bottom: 6%;">
        <canvas id="myChart" style="max-width:1000px;max-height:500px;"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const time = "{{group_status.duration}}"
    const array = "{{group_status.engaged_status}}"
    const matric_id = "{{group_status.matric_id}}"
    const dataset = JSON.parse("[" + array + "]");

    const _max = Math.max.apply(Math, dataset[0])

    var title = ""
    if (matric_id == "") 
    {
        title = "Student Engagement Level during {{group_status.module}} (Group {{group_status.group}})" 
    }
    else
    {
        title = "{{group_status.matric_id}} Engagement Level during {{group_status.module}} (Group {{group_status.group}})" 
    }
        
    const labels = new Array()
    for (i = 0; i < time; i ++)
    {
        labels[i] = i
    }
    
    const data = {
      labels: labels,
      datasets: [{
        label: title,
        backgroundColor: 'rgb(5, 116, 235)',
        borderColor: 'rgb(5, 116, 235)',
        data: dataset[0],
      }]
    };
  
    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                y: {
                    min: 0,
                    max: _max,
                    ticks: {

                        stepSize: 1
                    }
                }
            },
            plugins: {
                legend: {
                    display: true,
                    
                    labels: {
                        color: 'rgb(0, 0, 0)',
                        font: {
                            weight: "bold"
                        }
                    }
                }
        }
        }
    };
</script>

<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
</script>
